<%- include('./partials/header') %> 

    <% if (!currentUser) { %> 
        <%- include('./partials/loginForm') %> 
    <% } %> 
    <% if (currentUser) { %> 
        <%- include('./partials/navbar') %> 
        <div id="home">
            <%- include('./partials/leftSidebar') %> 
            <div id="homeContent">
                <form id="postBox" action="/createpost" method="POST">
                    <input type="text" name="content" placeholder="What's on your mind, <%- currentUser.firstName %>?">
                    <div id="postBoxOptions">
                        <div>Live Video</div>
                        <div>Photo/Video</div>
                        <div>Feeling/Activity</div>
                    </form>
                </div>
                <div id="mutualFriendBox">
                    <p>People you may know</p>
                    <a href="/mutualfriends">View All</a>
                    <div class="mutualFriendSlider">
                        <% numArray.forEach(index => { %> 
                            <div>
                                <div class="avatar"></div>
                                <p><%= user[index].firstName %> <%= user[index].surname %></p>
                                <button class="addFriend" userid="<%- user[index]._id %>">Add Friend</button>
                            </div>
                        <% }) %> 
                    </div>
                </div>
                <div id="homePosts">
                    <% posts.reverse().forEach(post => { %>  
                        <% if (currentUser.friends.includes(post.userid) || currentUser._id.equals(post.userid)) { %>
                        <div class="posts">
                            <p class="postAuthor"><%= post.author %></p>
                            <p class="postDate"><%= new Date(post.date).toISOString().split('T')[0] %></p>
                            <p class="postContent"><%= post.content %></p>
                            <% if (post.likes.length !== 0) { %>
                                <div class="postLikes">
                                    <div><img src="/images/like.svg"></div>
                                    <p><%= post.likes.length %> </p>
                                </div>
                            <% } %> 
                            <div class="postFooter">
                                <div class="likeBtn" postid="<%- post._id %>">Like</div>
                                <div>Comment</div>
                            </div>
                            <div class="postComments">
                                <% for (let i = 0; i < allComments; ++i) {%>                                     
                                    <% if (comments[i].parentpostid.equals(post._id)) { %>                                                                               
                                        <div class="comments">
                                            <p class="commentAuthor"><%= comments[i].author %> </p>
                                            <p class="commentContent"><%= comments[i].content %> </p>
                                        </div>
                                        <% } %> 
                                <% } %> 
                                <form action="/createcomment" method="POST">                                                        
                                    <input type="text" name="content" placeholder="Write a comment...">
                                    <input type="hidden" name="parentpostid" value="<%= post._id %>">
                                </form>
                            </div>
                        </div>
                        <% } %>
                    <% }) %> 
                </div>
            </div>
            <%- include('./partials/rightSidebar') %> 
        </div>
    <% } %> 

<%- include('./partials/footer') %> 