<%- include('./partials/header') %> 

    <% if (!currentUser) { %> 
        <%- include('./partials/loginForm') %> 
    <% } %> 
    <% if (currentUser) { %> 
        <%- include('./partials/navbar') %> 
        <div id="home">
            <%- include('./partials/leftSidebar') %> 
            <div id="homeContent">
                <form id="postBox" action="/createpost" method="POST">
                    <input type="text" name="content" placeholder="What's on your mind, <%- currentUser.firstName %>?">
                    <div id="postBoxOptions">
                        <div>Live Video</div>
                        <div>Photo/Video</div>
                        <div>Feeling/Activity</div>
                    </form>
                </div>
                <div id="mutualFriendBox">
                    <p>People you may know</p>
                    <a href="/mutualfriends">View All</a>
                    <div class="mutualFriendSlider">
                        <% numArray.forEach(index => { %> 
                            <div>
                                <div class="avatar"></div>
                                <p><%= user[index].firstName %> <%= user[index].surname %></p>
                                <button>Add Friend</button>
                            </div>
                        <% }) %> 
                    </div>
                </div>
                <div id="homePosts">
                    <% posts.forEach(post => { %> 
                        <div class="posts">
                            <p><%= post.author %></p>
                            <p><%= post.content %></p>
                        </div>
                    <% }) %> 
                </div>
            </div>
            <%- include('./partials/rightSidebar') %> 
        </div>
    <% } %> 

<%- include('./partials/footer') %> 